{{#each this}}
  <li class='slider-card' data-id='{{id}}'>
    <div class='thumb'>
      <p class='movie-name-slider'>
        {{title}}
      </p>
      <img
        class='slider-image'
        src='https://image.tmdb.org/t/p/w500{{poster_path}}'
        alt='{{title}} {{name}}'
        onerror="this.onerror=null;this.src='https://ik.imagekit.io/tc8jxffbcvf/default-movie-portrait_EmJUj9Tda5wa.jpg?tr=fo-auto,di-';"
      />

      {{#if vote_average}}
        <span class='rating-slider'>{{vote_average}}</span>
      {{else}}<span class='rating-slider'>-</span>
      {{/if}}
    </div>
  </li>
{{/each}}