{{#each this}}
<li class="slider-card" data-id='{{id}}'>
    <div class="thumb">
        <p class="movie-name-slider">
            {{title}}
        <button class="trailer-btn" >
            <img src="https://img.icons8.com/color/30/000000/youtube-play.png"/>
        </button>

        </p>
        <img class="slider-image" src="https://image.tmdb.org/t/p/w500{{poster_path}}" alt="{{title}} {{name}}"
            onerror="this.onerror=null;this.src='https://ik.imagekit.io/tc8jxffbcvf/default-movie-portrait_EmJUj9Tda5wa.jpg?tr=fo-auto,di-';" />
        {{#if vote_average}}
          <span class='rating-slider {{rating_color}}'>{{vote_average}}</span>
        {{else}}<span class='rating-slider'>-</span>
        {{/if}}
    </div>
  </li>
{{/each}}