{{#each this}}
<li class="movie-list__card">
<div class="card-img__thumb">
  <img loading="lazy" src="https://image.tmdb.org/t/p/w342/{{poster_path}}" alt="">
</div>
<div class="card__content">
  {{#if title}}
  <h3>{{title}}</h3>
  {{else}}
  <h3>{{name}}</h3>
  {{/if}}
  <p class="genres">{{genre_ids}}</p>
  {{#if release_date}}
  <p>{{release_date}}</p>
  {{else}}
  <p>{{first_air_date}}</p>
  {{/if}}
  <p>{{vote_average}}</p>
</div>
</li>
{{/each}}