






        <div class="modal_thumb">
         <img src="https://image.tmdb.org/t/p/w342{{poster_path}}" alt="{{#if title}} {{title}} {{else}} {{name}} {{/if}}" class="film-poster" />
        </div>

      <div class="film-card_text-content">
          <h2 class="film-name">A fistful of lead</h2>

        <div class="meta-info_container">
          <ul class="list meta-info_list">
            <li class="meta-info_item">Vote / Votes</li>
            <li class="meta-info_item">Popularity</li>
            <li class="meta-info_item">Original Title</li>
            <li class="meta-info_item">Genre</li>
          </ul>

           <ul class="list meta-info_list-content">
                <li class="meta-info_item-content">
                    <span class="evg-vote_item">{{vote_average}}</span> / <span class="total-vote_item">{{vote_count}}</span>
                </li>
                <li class="meta-info_item-content">{{popularity}}</li>
                <li class="meta-info_item-content">
                    <span class="film-name_item">{{original_name}}</span>
                </li>
                <li class="meta-info_item-content">"{{genre_ids}}">{{genre_ids}}</li>
            </ul>
        </div>

            <h3 class="about-title">About</h3>

              <p class="about-content">
                {{overview}}
              </p>
        </div>