{{#each this}}
<li class="movie-list__card" data-movie-id="{{id}}" id="film-card-template">


<div class="card-img__thumb">
    
  <img class="movie-img" loading="lazy" srcset="https://image.tmdb.org/t/p/w342{{poster_path}} 1x, https://image.tmdb.org/t/p/w780{{poster_path}} 2x" 
  src="https://image.tmdb.org/t/p/w342{{poster_path}}" alt="{{#if title}}{{title}}{{else}}{{name}}{{/if}}">
</div>

<div class="card__content">
  {{#if title}}
  <h3 class="card__title">{{title}}</h3>
  {{else}}
  <h3 class="card__title">{{name}}</h3>
  {{/if}}
  <p class="card__info">
    <span class="genres-list" title="{{genre_ids}}">{{genre_ids}}</span>
    <span class="line"></span>
    {{#if release_date}}
    <span class="movie-date">{{release_date}}</span>
    {{else}}
    <span class="movie-date">{{first_air_date}}</span>
    {{/if}}
    <span class="movie-rating">{{vote_average}}</span>
  </p>
 
</div>
<div class="lds-ellipsis non-active"><div></div><div></div><div></div>
</li>
{{/each}}